body {
  background-image: url("/path/to/image.png"); }
  @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
    body {
      background-image: url("/path/to/image@2x.png");
      background-size: 200px 100px; } }

header {
  background-image: url("/path/to/header.png"); }
  @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
    header {
      background-image: url("/path/to/header@2x.png");
      background-size: 600px 50px; } }
