.bg {
  background: url("../ipad.png") center center no-repeat;
}
.bg2 {
/*
   * Set a base background for 1x environments.
   */
  background: url("../ipad.png") center center no-repeat;
  background-size: 300px 149px;
/*
   * Create an @2x-ish media query.
   */
/*
   * Create media queries for all environments that the user has
   * provided images for.
   */
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .bg2 {
    background: url("../ipad@2x.png") center center no-repeat;
    background-size: 300px 149px;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .bg2 {
    background: url("../ipad@2x.png") center center no-repeat;
    background-size: 300px 149px;
  }
}
.bg3 {
/*
   * Set a base background for 1x environments.
   */
  background: url("../ipad.png") center center no-repeat;
  background-size: 300px 149px;
/*
   * Create an @2x-ish media query.
   */
/*
   * Create media queries for all environments that the user has
   * provided images for.
   */
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3/2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  .bg3 {
    background: url("../ipad@2x.png") center center no-repeat;
    background-size: 300px 149px;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .bg3 {
    background: url("../ipad@2x.png") center center no-repeat;
    background-size: 300px 149px;
  }
}
@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 288dpi) {
  .bg3 {
    background: url("../ipad@3x.png") center center no-repeat;
    background-size: 300px 149px;
  }
}
